/*------------------------------------------------------------------------------------------------------------------*/
/*by Spark*/
/*------------------------------------------------------------------------------------------------------------------*/
:root {
  --card_width: 300px;
  --card_height: 300px;
  /* makes my eye hurt, pls recommend a better solution */
  --bg_offset: 480px;
  --navbar_offset:56px;
}

.flip-title{
  position: absolute;
  top: 250px;
  left: 0px;
  padding: 5%;
}

.flip-image{ 
  width:calc(var(--card_width) * 1);
  height:calc(var(--card_height) *1);
  /* object-fit: cover; */
  object-fit: contain;
  position: relative;
}

/* .flip-bg-image{
  width:calc(var(--card_width) * 1);
  height:calc(var(--card_height) *1);
  opacity: 0.3;
  position: absolute;
  // object-fit: cover;
  object-fit: contain;
} */

/* .text-stroke{
  -webkit-text-stroke: 0.2px #F69200;
} */  

.bg-img{
  position: absolute;
  opacity: 0.5;
  width: 100vw;
  /* clip bg image scrollbar */
  overflow: hidden;
}

.landing::before{
  /* bc of navbar fixed-top */
  display: block;
  content: '';
  height: var(--navbar_offset);
}

.footer-absolute-container{
  position: absolute;
  width: 100%;
}

/*------------------------------------------------------------------------------------------------------------------*/
/* Parallax from https://keithclark.co.uk/articles/pure-css-parallax-websites/demo2/   */
/*------------------------------------------------------------------------------------------------------------------*/

.parallax_container {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2.05);
    
  }



/*------------------------------------------------------------------------------------------------------------------*/
/*Basic flip-card from w3*/
/*------------------------------------------------------------------------------------------------------------------*/
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: var(--card_width);
  height: var(--card_height);
  border: 0px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
  color: white;
}

/* Style the back side */
.flip-card-back {
  background-color: #0B0D19;
  /* border-style: solid;
  border-color: #F69200;
  border-width: 1px; */
  padding: 10%;
  /* color: white; */
  transform: rotateY(180deg);
}


/*------------------------------------------------------------------------------------------------------------------*/
/*salvaged + rewritten css*/
/*------------------------------------------------------------------------------------------------------------------*/
.hero-particles-container{
  position: absolute;
  width: 100%;
  height: var(--bg_offset);
}

.landing-bg{
  position: absolute;
  width: 100%;
  height: var(--bg_offset);
}

.landing-title {
  font-family: Oxygen
}

#hero-particles{
  height: 100%;
}

/* OnLoad() animation */
.landing-bg,
.lead-text{
  -webkit-animation: heroBg 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation: heroBg 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: scaleY(0) scaleX(1.2) skewY(30deg);
  transform: scaleY(0) scaleX(1.2) skewY(30deg);
}


/* original css classes */
/* TODO: remove */
.landing-bg{
  -webkit-animation: heroBg 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation: heroBg 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  opacity: 0;
}

.landing::before,
.landing::after {
  -webkit-animation: heroFadeIn .6s ease forwards .45s;
  animation: heroFadeIn .6s ease forwards .45s;
  opacity: 0;
}

.hero-particles-container
{
  -webkit-animation: heroFadeIn .6s ease forwards .45s;
  animation: heroFadeIn .6s ease forwards .45s;
  opacity: 0;
}

.landing-title {
  -webkit-animation: heroContent 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards 0.15s;
  animation: heroContent 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards 0.15s;
  opacity: 0;
}

.landing-paragraph {
  -webkit-animation: heroContent 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards 0.3s;
  animation: heroContent 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards 0.3s;
  opacity: 0;
}

.landing-cta {
  -webkit-animation: heroContent 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards 0.45s;
  animation: heroContent 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards 0.45s;
  opacity: 0;
}

/* keyframes */
@-webkit-keyframes heroBg {
  from {
      -webkit-transform: scaleY(0) scaleX(1.2) skewY(30deg);
      transform: scaleY(0) scaleX(1.2) skewY(30deg);
      opacity: 1
  }
  to {
      -webkit-transform: scaleY(1) scaleX(1) skewY(0);
      transform: scaleY(1) scaleX(1) skewY(0);
      opacity: 1
  }
}

@keyframes heroBg {
  from {
      -webkit-transform: scaleY(0) scaleX(1.2) skewY(30deg);
      transform: scaleY(0) scaleX(1.2) skewY(30deg);
      opacity: 1
  }
  to {
      -webkit-transform: scaleY(1) scaleX(1) skewY(0);
      transform: scaleY(1) scaleX(1) skewY(0);
      opacity: 1
  }
}

@-webkit-keyframes heroContent {
  from {
      -webkit-transform: translateY(40px) skewY(2deg);
      transform: translateY(40px) skewY(2deg);
      opacity: 0
  }
  to {
      -webkit-transform: translateY(0) skewY(0);
      transform: translateY(0) skewY(0);
      opacity: 1
  }
}

@keyframes heroContent {
  from {
      -webkit-transform: translateY(40px) skewY(2deg);
      transform: translateY(40px) skewY(2deg);
      opacity: 0
  }
  to {
      -webkit-transform: translateY(0) skewY(0);
      transform: translateY(0) skewY(0);
      opacity: 1
  }
}

@-webkit-keyframes heroMockup {
  from {
      -webkit-transform: translateY(80px);
      transform: translateY(80px);
      opacity: 0
  }
  to {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1
  }
}

@keyframes heroMockup {
  from {
      -webkit-transform: translateY(80px);
      transform: translateY(80px);
      opacity: 0
  }
  to {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1
  }
}

@-webkit-keyframes heroFadeIn {
  from {
      opacity: 0
  }
  to {
      opacity: 1
  }
}

@keyframes heroFadeIn {
  from {
      opacity: 0
  }
  to {
      opacity: 1
  }
}
